$main-color = #266058
$main-color-dark = rgba(38,96,88,0.9)
$sub-color = #ECEAE6
$sub-color-dark = rgba(236,234,230,0.9)
$btn-text-color = #E6E6FA
$title-color = #000000
$title-color-dark = #E6E6FA
$icon-active-color = #FF9488
$hover-color = #BBC5CF
$active-color = #93A3B3